@use 'src/styles/constants/colors' as color;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 65px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  color: color.$WHITE;
  background-color: color.$PRIMARY;

  .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
