@use 'src/styles/constants/colors' as color;

.manageStudentPage {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: color.$WHITE;

  .chartWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
  }
}
