@use 'src/styles/constants/colors' as color;

.header {
  width: 100%;
  height: 240px;
  padding: 50px 56px 0;
  background-color: color.$WHITE;

  .title {
    margin-bottom: 23px;
    font-size: 26px;
    font-weight: 700;
    color: color.$PRIMARY;
  }
}
