@use 'src/styles/constants/colors' as color;

.listWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 208px;
  text-align: center;

  .list {
    height: 56px;
    font-size: 22px;
    font-weight: 500;
    line-height: 56px;
    color: color.$BLACK;
    border-radius: 5px;

    &:hover {
      background-color: color.$BORDER;
      transition: 0.5s ease-out;
    }
  }

  .toggle {
    position: absolute;
    right: 0;
    width: 8px;
    height: 40px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: color.$PRIMARY;
    border-radius: 8px;
    transition: top 0.3s ease-out;
  }
}
