@font-face {
  font-family: Pretendard;
  font-weight: 900;
  src: url('src/assets/fonts/Pretendard-Black') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 800;
  src: url('src/assets/fonts/Pretendard-ExtraBold') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: url('src/assets/fonts/Pretendard-Bold') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src: url('src/assets/fonts/Pretendard-SemiBold') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src: url('src/assets/fonts/Pretendard-Medium') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: url('src/assets/fonts/Pretendard-Regular') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 300;
  src: url('src/assets/fonts/Pretendard-Light') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 200;
  src: url('src/assets/fonts/Pretendard-ExtraLight') format('woff2');
}
@font-face {
  font-family: Pretendard;
  font-weight: 100;
  src: url('src/assets/fonts/Pretendard-Thin') format('woff2');
}

* {
  font-family: Pretendard, Inter, Arial, 'Microsoft YaHei', sans-serif;
}
